.wrap
    font-family: 'Roboto', sans-serif
.block-title,
.about,
.work,
.prices,
.contacts
    padding-bottom: 50px
    padding-left: 50px
    padding-right: 50px
.title
    margin: 20px
    font-weight: 800
    font-size: 4rem
    color: #330333
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15)

@import block-title
@import about
@import work
@import prices
@import contacts
@import footer
