.block-title,
.about,
.work
    margin-bottom: 50px
.block-title
    height: 100vh
.block-title
    .slide
        height: 25vh
.nav-list
    padding: 0
#menu-exit
    align-self: flex-end
@import work
@import prices
@import contacts
@import footer
