.about.flex-row.w-100
    img.about__img.w-50(src="static/img/title-bgc_1.jpg", alt="title-bgc_1.jpg")
    .about-content.flex-col.w-50.between
        span.title О нас
        p.about-content__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam esse corrupti atque neque sint voluptate cum ea qui ut quae quos dolore, illo ducimus iste?
        p.about-content__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam esse corrupti atque neque sint voluptate cum ea qui ut quae quos dolore, illo ducimus iste?
