.block-title.flex-col.w-100.between
    header.block-title__header.flex-row.w-100.between
        h1.logo Стройка Могилев
        nav.header-nav.w-50.flex-row.between
            img#menu-header.nav__icon(src="static/img/navIcon.png", alt="navIcon.png")
            ul.nav-list.flex-row.between.w-100
                li.nav-list__items
                    a(href="") Гостевая
                li.nav-list__items 
                    a(href="") О нас
                li.nav-list__items
                    a(href="") Наши работы
                li.nav-list__items
                    a(href="") Цены
                li.nav-list__items 
                    a(href="") Контакты
    .slogan.flex-col.center
        span.slogan__title Нет ума-строй дома
        span.slogan__subtitle И это точно
    .slider.w-100.flex-col.center
        span добавить анимацию
        .slide Здесь должен быть текст
        .slide( hidden) Здесь другой текст
        .slide( hidden) А тут последний текст
