.contacts.flex-col.w-100.center
    span.title Контакты
    .contacts-content.flex-row.center
        p.contacts-content__txt.w-30 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus nemo, animi maiores nam omnis quod tempore dolore incidunt odit.
        .contacts-content-box.flex-col.start.w-30
            span.contacts-content-box__title Наши Контакты
            ul
                li
                    span Адресс
                li
                    span Teлефоны и месенджеры
                li
                    i 
                    span МТС +3752977777777
                li
                    i 
                    span А1 +3754477777777
                li
                    i
                    i
                    i
                    span Life +375259777777
                li
                    i
                    i
                    i  
        .contacts-content-box.flex-col.start.w-30     
            span.contacts-content-box__title Мы в социальных сетях
                ul
                    li
                        i
                        span ВК
                    li
                        i
                        span Instagram
                    li
                        i
                        span ок