<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        title Document
        link(rel="stylesheet", href="style/style.css")
        link(rel="stylesheet", href="style/lightLayout.css")
    body
        .wrap
            include block-title
            include about
            include works
            include prices
            include contacts
            include footer
    script(src="js/navHeader.js")
    script(src="js/sliderTitle.js")
    script(src="js/blockAbout.js")
    script(src="js/workEnlargуImg.js")