.works.flex-col.center.w-100
    span.title Наши работы
    .works-content.flex-row.center.w-80
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")