.works.flex-col.w-100
    span.title Наши работы
    .works-content.flex-row.start.w-100
        .works-box__img.w-20
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img.w-20
            img.works__img.w-100(src="static/img/title-bc_1.jpg", alt="")            
        .works-box__img.w-20
            img.works__img.w-100(src="static/img/title-bc_1.jpg", alt="")
        .works-box__img.w-20
            img.works__img.w-100(src="static/img/title-bc_1.jpg", alt="")
        .works-box__img.w-20
            img.works__img.w-100(src="static/img/titlebgc_1.jpg", alt="")
        .works-box__img.w-20
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img.w-20
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")
        .works-box__img.w-20
            img.works__img.w-100(src="static/img/title-bgc_1.jpg", alt="")         
