.about__img,
.about-content {
  margin: 10px; }

.about .title {
  align-self: start; }

.about-content__txt {
  font-size: 1.5rem;
  margin: 10px; }

.about__img {
  background-image: url(../static/img/title-bgc_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

@media (max-width: 992px) {
  .about__img {
    background-size: cover; } }

@media (max-width: 576px) {
  .about-content__txt {
    font-size: 1.1rem;
    margin: 10px; } }
