.wrap {
  font-family: 'Roboto', sans-serif; }

.block-title,
.about,
.work,
.prices,
.contacts {
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px; }

.title {
  margin: 20px;
  font-weight: 800;
  font-size: 4rem;
  color: #330333;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }

.block-title {
  height: 80vh;
  background: #00CCFF url(../static/img/title-bgc_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity; }

.logo {
  margin: 10px;
  letter-spacing: 3.5px;
  color: #CCCCCC; }

.header-nav {
  height: 100%;
  margin: 10px; }

.nav-list {
  padding: 0; }

.nav-list__items {
  padding: 5px;
  font-weight: 500;
  text-align: right; }

.nav-list__items:hover {
  background-color: #CCCC99;
  border-radius: 5px; }

.nav-list__items a {
  letter-spacing: 2px;
  font-size: 1em;
  color: #993300; }

.slogan {
  color: #CCCC99; }

.slogan__title {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 3.5px; }

.slogan__subtitle {
  font-size: 2em;
  letter-spacing: 1.5px; }

.block-title .slide {
  height: 25vh; }

.block-title .slide {
  color: #CCCCCC;
  font-size: 2em;
  letter-spacing: 1.5px;
  text-align: center; }

.nav__active {
  margin: 10px;
  right: 0;
  top: 0; }

@media (max-width: 768px) {
  .logo {
    font-size: 1.6em; } }

@media (max-width: 576px) {
  .slogan__title {
    font-size: 1.5em;
    letter-spacing: 2.5px; }
  .slogan__subtitle {
    font-size: 1.25em;
    etter-spacing: 1.5px; }
  .block-title .slide {
    font-size: 1.5em;
    letter-spacing: 1.5px; }
  .nav-list__items a {
    letter-spacing: 1px;
    font-size: .8em; } }

.about__img,
.about-content {
  margin: 10px; }

.about .title {
  align-self: start; }

.about-content__txt {
  font-size: 1.5rem;
  margin: 10px; }

.about__img {
  background-image: url(../static/img/title-bgc_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

@media (max-width: 992px) {
  .about__img {
    background-size: cover; } }

@media (max-width: 576px) {
  .about-content__txt {
    font-size: 1.1rem;
    margin: 10px; } }

.works-content {
  flex-wrap: wrap;
  height: 400px;
  overflow-y: scroll; }

.works-box__img {
  position: relative; }
