.works-content {
  flex-wrap: wrap;
  height: 450px;
  border-style: solid;
  overflow-y: scroll; }

.works-box__img {
  position: relative;
  width: 300px;
  margin: 10px; }

.works .title {
  align-self: flex-start; }
